{% extends "todolist/base.html" %}


{% block content %}

    <div>
        {% for error in errors %}

            <p style="background-color: #d9696a; color: white; padding: 10px; border-radius: 10px">
                {{ error }}
            </p>

        {% endfor %}

    </div>

    <form method="post">

        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Заголовок</label>
                <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Название">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Содержимое</label>
            <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Текст заметки"></textarea>
        </div>
        <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #205067">Отправить</button>>

    </form>

{% endblock %}