{% extends "todolist/base.html" %}
{%load crispy_forms_tags %}

{% block content %}

    <div class="container w-50">
    <form method="post">

        {% csrf_token %}


        {{form | crispy}}

        <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #205067">Отправить</button>>
    </form>

        <a href="{% url 'home'%}">

            <div>
                <label>
                Возврат на главную страницу
                <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #10420e">Перейти</button>>

                </label>
            </div>
        </a>
    </div>
{% endblock %}