{% extends "todolist/base.html" %}


{% block content %}

    {% for post in posts %}


        <div class="card" style="width: 18rem; margin: 20px; box-shadow: 8px 8px #205067"  >
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.created }}</h6>
            <p class="card-text">{{ post.content }}</p>
            <a href="{% url 'post_show' post.id %}" class="btn btn-info" style="box-shadow: 3px 3px #205067">Посмотреть</a>
          </div>
        </div>

    {% endfor %}

{% endblock %}

