<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>


<body>

    <h1>
        {{ post.title }}
    </h1>

    <span style="border-radius: 5px; background-color: #6f95e8; color: white; padding: 5px">
        {{ post.created }}
    </span>

    <div style="margin: 20px">
        {{ post.content }}
    </div>

    <form method="post" action="{% url 'post_delete' post.id %}">

        {% csrf_token %}

        <div>
            <label>
                Удаление поста
                <input type="submit" value="Delete"
                style="background-color: red; color: white; padding: 5px; border-radius: 5px">>
            </label>
        </div>
    </form>

    <a href="{% url 'post_edit' post.id %}" >

        <div>
            <label>
                Редактирование поста
                <input type="submit" value="Edit"
                style="background-color: green; color: white; padding: 5px; border-radius: 5px">>
            </label>
        </div>
    </a>

</body>
</html>