<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit: {{ post.title }}</title>
</head>
<body>

    <div>
        {% for error in errors %}

            <p style="background-color: #d9696a; color: white; padding: 10px; border-radius: 10px">
                {{ error }}
            </p>

        {% endfor %}
    </div>

    <form method="post">

        {% csrf_token %}

        <div>
            <label>
                Заголовок
                <input name="title" value="{{ post.title }}">
            </label>
        </div>

        <div>
            <label>
                Содержимое
                <textarea name="text">{{ post.content }}</textarea>
            </label>
        </div>

        <input type="submit" value="Отправить">

    </form>

</body>
</html>