{% extends "todolist/base.html" %}
{%load crispy_forms_tags %}

{% block content %}

    <div class="card mb-4 rounded-3 shadow-sm border-primary">
    {{form_user | crispy}}
    </div>

         <a href="{% url 'edit_user' %}" >
             <label>
              Редактирование профиля
                <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #10420e">Перейти</button>
             </label>
        </a>


        <a href="{% url 'home'%}">

            <div>
                <label>
                Возврат на главную страницу
                <button type="submit" class="btn btn-info" style="box-shadow: 3px 3px #10420e">Перейти</button>>

                </label>
            </div>
        </a>

{% endblock %}